.hidden
  display: none

#projector
  background: black
  position: relative
  overflow: hidden
  outline: none
  min-width: 200px
  &:-webkit-full-screen
    width: 100% !important
    height: 100% !important

.loader
  background-image: url("loading.gif-c200")
  background-color: black
  background-position: 51% 0
  background-repeat: no-repeat
  display: none
  height: 100%
  position: absolute
  width: 100%
  z-index: 5

.thumbs-area
  background: black
  bottom: 25px
  display: none
  overflow: hidden
  position: absolute
  top: 0
  width: 100%
  z-index: 10

.full-thumbs
  bottom: 0

.thumb-image
  border: thin solid #222
  display: inline-flex
  height: 65px
  margin-bottom: 5px
  margin-right: 5px
  position: relative
  width: 100px

.thumbs-box
  cursor: move
  height: 99%
  left: 2%
  overflow: hidden
  position: relative
  top: 1%
  width: 96%

.image
  cursor: pointer
  height: 100%
  width: 100%

.stage-area
  bottom: 0
  left: 0
  overflow: hidden
  position: absolute
  right: 0
  top: 0
  z-index: 1

.arrows-area
  color: white
  display: flex
  height: 100px
  left: 0
  position: absolute
  top: 35%
  width: 100%
  z-index: 2

.right-arrow
  background-image: url("spritesheet.png")
  background-position: -42px -42px
  background-repeat: no-repeat
  cursor: pointer
  height: 34px
  margin-right: 25px
  margin-top: 35px
  position: absolute
  right: 0
  width: 34px

.left-arrow
  background-image: url("spritesheet.png")
  background-position: -6px -42px
  background-repeat: no-repeat
  cursor: pointer
  height: 34px
  margin-left: 25px
  margin-top: 35px
  width: 34px

.menu-area
  background: black
  bottom: 0
  height: 25px
  position: absolute
  width: 100%
  -webkit-box-shadow: inset 1px 45px 9px -49px rgba(255, 200, 200, 1)
  -moz-box-shadow: inset 1px 45px 9px -49px rgba(255, 200, 200, 1)
  box-shadow: inset 1px 45px 9px -49px rgba(255, 200, 200, 1)
  z-index: 11

.fullscreen
  background-image: url("spritesheet.png")
  background-position: -82px 2px
  background-repeat: no-repeat
  cursor: pointer
  height: 25px
  left: auto
  position: absolute
  right: 0
  width: 25px

.exit
  background-position: -82px -98px

.on
  height: 100%
  left: 0
  margin-left: auto
  margin-right: auto
  position: absolute
  right: 0

.off
  display: none

.counter
  color: #aaa
  font-family: Helvetica
  font-size: 13px
  box-shadow: inset -52px 0px 9px -57px rgba(255, 200, 200, 1)
  -webkit-box-shadow: inset -52px 0px 9px -55px rgba(255, 200, 200, 1)
  -moz-box-shadow: inset -52px 0px 9px -58px rgba(255, 200, 200, 1)
  height: 25px
  position: absolute
  left: 22px
  padding-right: 7px
  width: 50px

.play-box
  height: 25px
  left: 0
  position: absolute
  width: 25px

.play
  background-image: url("spritesheet.png")
  background-position: -110px -4px
  background-repeat: no-repeat
  cursor: pointer
  height: 13px
  left: 5px
  position: absolute
  top: 7px
  width: 8px

.info-box
  height: 25px
  left: 84px
  position: absolute

.info
  font-family: Helvetica
  font-size: 13px
  color: #aaa
  position: relative
  top: 5px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.thumb-box
  box-shadow: inset 52px 0px 9px -57px rgba(255, 200, 200, 1)
  -webkit-box-shadow: inset 52px 0px 9px -55px rgba(255, 200, 200, 1)
  -moz-box-shadow: inset 52px 0px 9px -58px rgba(255, 200, 200, 1)
  height: 25px
  right: 25px
  position: absolute
  width: 30px

.thumb
  background-image: url("spritesheet.png")
  background-position: -5px -125px
  background-repeat: no-repeat
  cursor: pointer
  height: 13px
  left: 9px
  position: absolute
  top: 7.3px
  width: 12px

.stop
  background-position: -110px -104px

.current, .total
  position: relative
  top: 4px

.active-thumb
  border: thin solid red
